<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="freebook">
	<select id="all" resultType="freebookVO">
		SELECT * FROM FREEBOOK ORDER BY IDX
	</select>
	
	
	<insert id="insert" parameterType="com.bc.freebook.vo.FreeBookVO">
		INSERT INTO FREEBOOK
			   (IDX, NAME, SUBJECT, 
			    CONTENT, PWD, REGDATE)
		VALUES (GUESTBOOK_SEQ.NEXTVAL, #{name}, #{subject},
			    #{content}, #{pwd}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="com.bc.freebook.vo.FreeBookVO">
		UPDATE FREEBOOK
		SET NAME = #{name},
		    SUBJECT = #{subject}, 
		    CONTENT = #{content}, 
		    PWD = #{pwd}, 
		    REGDATE = SYSDATE
		WHERE IDX = #{idx}
	</update>
	
</mapper>  






